.body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #1F2937;
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title{
    font-size: 30px;
    font-weight: bold;  
}


ul{
    list-style: none;
    display: flex;
    gap: 8px;
}
   .main{
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
   } 

   .titlebox{
    max-width: 400px;
    text-align: center;
   }

   .images{
    display: flex;
    gap: 16px;
    padding: 75px;
    justify-content: space-around;
   }

   .img{
    background-color: blue;
    height: 200px;
     width: 200px;   
    align-content: center;
    text-align: center;
   }

